# Data Processing
pyspark==3.5.7
numpy
pandas
dask
geopy
h3

# Modeling
xgboost
scikit-learn
statsmodels
tensorflow

# API
fastapi
uvicorn
redis

# Visualization
folium
plotly
matplotlib
pyarrow
seaborn
notebook

# Configuration
python-dotenv
boto3
requests
s3fs>=2023.1.0

# Kafka
kafka-python
